<li class="nav-item">
  <a class="nav-link" routerLink="/cluster" routerLinkActive="">CreateK8s</a>
  <a class="nav-link" routerLink="/nodes" routerLinkActive="">add_nodes</a>
</li>
<table class="table table-bordered table-responsive-md">

  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">CreateAt</th>
    <th scope="col">Args</th>
    <th scope="col">Unique</th>
  </tr>
  <tr *ngFor="let job of jobs">
    <td >{{job.id}}</td>
    <td >{{job.args.name}}</td>
    <td >{{job.date}}</td>
    <td >....</td>
    <td >{{job.unique}}</td>
  </tr>

</table>
